* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kantumruy Pro", sans-serif;
}

.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: auto;

  background: linear-gradient(#2980b9, #6dd5fa);
  background-position: "center";
  background-size: "cover";
  background-repeat: "no-repeat";
  border: 1px green solid;
}

.homeform {
  display: flex;
  justify-content: center;
  align-content: center;
}

.homeform__input {
  padding: 2rem;
}
