@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@100;300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kantumruy Pro", sans-serif;
}

.container-main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  color: white;

  background: linear-gradient(#2980b9, #6dd5fa);
  background-position: "center";
  background-size: "cover";
  background-repeat: "no-repeat";
}

/*Search bar*/

.search-box .search-bar {
  display: block;
  width: 30%;
  padding: 15px;
  margin: 0 auto;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.819);
  border-radius: 0px 0px 15px 15px;
  margin-top: -10px;
  border: 1px grey solid;
  color: black;
}

/*Daily*/

.container-daily {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.weather {
  background-color: rgba(255, 255, 255, 0.129);
  min-width: 450px;
  min-height: 450px;
  border: 1px solid rgb(255, 254, 254);
  border-radius: 20px;
  padding: 2rem;
}

.weather__city {
  font-size: 3rem;
}

.weather__temp {
  font-size: 5rem;
  margin-bottom: 1rem;
}

.weather__description {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.weather__country {
  font-size: 1.5rem;
}

.weather__pressure,
.weather__humidity {
  font-size: 1.4em;
}

.index {
  font-size: 1rem;
}

.celsius {
  font-size: 3rem;
}

.weather__minmax {
  display: flex;
  margin-top: 2rem;
  justify-content: space-around;
  font-size: 1.2rem;
}

.container-weekly {
  width: 50vw;
  height: 22vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  margin-top: 2rem;
}

/*Weekly*/

.weekly {
  background-color: rgba(255, 255, 255, 0.129);
  border: 1px solid rgb(255, 254, 254);
  border-radius: 20px;
  padding: 1rem 3rem;
}

.weekly__day {
  font-size: 1.7rem;
}

.weekly__description {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}

.weather__icon--small img {
  height: 4rem;
}
